@model WebDzivniekuPatversme.Models.ViewModels.AnimalsViewModel
@{
    ViewData["Title"] = "Par Dzīvnieku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<div>
    <hr />
    <div class="col-sm-6">
        <img src="~/uploads/images/animals/@Model.ImagePath" alt="@Model.Name bilde" onerror="this.onerror = null;this.src = '/uploads/images/animals/defaultanimal.png'" asp-append-version="true"
             class="rounded-circle"
             height="200"
             width="200"
             style="
                object-fit: cover;
                box-shadow: 0px 0px 20px #888;
                left: 100%;
                padding: 6px;" />
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDateRangeTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDateRangeTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpeciesType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpeciesType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryColour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondaryColour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalShelterName)
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink(Model.AnimalShelterName, "Details", "Shelters", new { id = Model.AnimalShelterId })
        </dd>
        <div class="col-md-12" style="border:1px solid grey;">
            @Html.Raw(Model.About)
        </div>
    </dl>
    <form method="post" class="col-md-10" style="padding-bottom: 3%" asp-action="Details">
        <div class="form-group">
            <h4>Nosūtiet ziņu, ja interesē šis dzīvnieks!</h4>
            <label for="Title">Tituls</label>
            <input type="text" class="form-control" id="Title" placeholder="Title" asp-for="EmailTitle">
        </div>
        <div class="form-group">
            <label for="Content">E-pasts</label>
            <textarea asp-for="EmailMessage"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Nosūtīt</button>
    </form>
</div>

<form asp-action="Delete" style="padding-left: 1%">
    @if (ViewContext.HttpContext.User.IsInRole("administrator") || ViewContext.HttpContext.User.IsInRole("worker"))
    {
        @Html.ActionLink("Labot", "Edit", new { id = Model.AnimalID }, new { @class = "btn btn-primary" })
        @Html.Raw("  ")

        <input type="hidden" asp-for="AnimalID" />
        <input type="submit" value="Dzēst" class="btn btn-danger" />
        @Html.Raw(" | ")
    }
    <a asp-action="Index">Atpakaļ uz sarakstu</a>
</form>

@section Scripts
{
    <script>
        tinymce.init({
            selector: 'textarea',
            width: "100%",
            height: "650",
        });
    </script>
}