@model IEnumerable<WebPatversme.Models.ViewModels.AnimalsViewModel>

@{
    ViewData["Title"] = "Dzīvnieki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Dzīvnieki!</h1>
    <h2 class="display-3">*Filtri dzīvnieku izvēlei*</h2>
    <p>Saraksts ar Dzīvniekiem</p>
</div>

<p>
    <a asp-action="Create">+ Pievienot dzīvnieku</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Vecums
            </th>
            <th>
                Svars
            </th>
            <th>
                Dzimšanas datums
            </th>
            <th>
                Pievienošanas datums
            </th>
            <th>
                Apraksts
            </th>
            <th>
                Vārds
            </th>
            <th>
                Suga
            </th>
            <th>
                Krāsa
            </th>
            <th>
                ImagePath
            </th>
            <th>
                AnimalShelterID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalShelterId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AnimalID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>