@model WebDzivniekuPatversme.Services.Other.PaginatedList<WebDzivniekuPatversme.Models.ViewModels.AnimalsViewModel>

@{
    ViewData["Title"] = "Dzīvnieki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Dzīvnieki!</h1>
    <h2 class="display-3">*Filtri dzīvnieku izvēlei*</h2>
    <p>Saraksts ar Dzīvniekiem</p>
</div>

<p>
    <a asp-action="Create">+ Pievienot dzīvnieku</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Meklē pēc vārda: <input type="text" name="filter" value="@ViewData["Filter"]" />
            <input type="submit" value="Meklēt" class="btn btn-default" /> |
            <a asp-action="Index">Atpakaļ uz pilnu listi</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-filter="@ViewData["Filter"]">Vārds</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AgeSortParm"]" asp-route-filter="@ViewData["Filter"]">Vecums</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SpeciesSortParm"]" asp-route-filter="@ViewData["Filter"]">Suga</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["WeightSortParm"]" asp-route-filter="@ViewData["Filter"]">Svars</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ShelterSortParm"]" asp-route-filter="@ViewData["Filter"]">Patversme</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateAddedSortParm"]" asp-route-filter="@ViewData["Filter"]">Pievienošanas datums</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ColourSortParm"]" asp-route-filter="@ViewData["Filter"]">Krāsa</a>
            </th>
            <th>
                ImagePath
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Species)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalShelterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("administrator") || ViewContext.HttpContext.User.IsInRole("worker"))
                    {
                        @Html.ActionLink("Labot", "Edit", new { id = item.AnimalID })
                        @Html.Raw(" | ")
                        @Html.ActionLink("Dzēst", "Delete", new { id = item.AnimalID })
                        @Html.Raw(" | ")
                    }

                    @Html.ActionLink("Par", "Details", new { id = item.AnimalID })
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-filter="@ViewData["Filter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-filter="@ViewData["Filter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>