@model WebDzivniekuPatversme.Services.Other.PaginatedList<WebDzivniekuPatversme.Models.ViewModels.Animal.AnimalViewModel>
@using WebDzivniekuPatversme.Models.ViewModels;

@{
    ViewData["Title"] = "Dzīvnieki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Dzīvnieki!</h1>
</div>

@if (ViewContext.HttpContext.User.IsInRole("administrator") || ViewContext.HttpContext.User.IsInRole("worker"))
{
    <p>
        <a asp-action="Create">+ Pievienot dzīvnieku</a>
    </p>
}

<form asp-action="Index" method="get" style="padding-left: 1%">
    <div class="row">
        <div id="dataListItem" class="col-md-4">
            <label class="control-label">Pēc vecuma</label>
            <select onchange="this.form.submit();" name="age" class="form-control" asp-items="((DropDownItemListViewModel) @ViewData["DropDown"])
                    .Age
                    .GroupBy(t => t.Item)
                    .Select(g => g.First())
                    .Select(x => new SelectListItem {
                        Text = x.Item + @Html.Raw(" (") + x.Count + @Html.Raw(")"),
                        Value = x.Item,
                        Disabled = (x.Count == 0 ? true : false),
                        Selected = (x.Item == @ViewData["Age"]?.ToString() ? true : false),
                    })
                    .AsEnumerable()">
                <option value="">
                    @Html.Raw("--Vecums--")
                </option>
            </select>
        </div>
        <div id="dataListItem" class="col-md-4">
            <label class="control-label">Pēc sugas</label>
            <select onchange="this.form.submit();" name="species" class="form-control" asp-items="((DropDownItemListViewModel) @ViewData["DropDown"])
                    .Species
                    .GroupBy(t => t.Item)
                    .Select(g => g.First())
                    .Select(x => new SelectListItem {
                        Text = x.Item + @Html.Raw(" (") + x.Count + @Html.Raw(")"),
                        Value = x.Item,
                        Disabled = (x.Count == 0 ? true : false),
                        Selected = (x.Item == @ViewData["Species"]?.ToString() ? true : false),
                    })
                    .AsEnumerable()">
                <option value="">
                    @Html.Raw("--Suga--")
                </option>
            </select>
        </div>
        <div id="dataListItem" class="col-md-4">
            <label class="control-label">Pēc Šķirnes</label>
            <select onchange="this.form.submit();" name="speciesType" class="form-control" asp-items="((DropDownItemListViewModel) @ViewData["DropDown"])
                    .SpeciesType
                    .GroupBy(t => t.Item)
                    .Select(g => g.First())
                    .Select(x => new SelectListItem {
                        Text = x.Item + @Html.Raw(" (") + x.Count + @Html.Raw(")"),
                        Value = x.Item,
                        Disabled = (x.Count == 0 ? true : false),
                        Selected = (x.Item == @ViewData["SpeciesType"]?.ToString() ? true : false),
                    })
                    .AsEnumerable()">
                <option value="">
                    @Html.Raw("--Šķirne--")
                </option>
            </select>
        </div>
        <div id="dataListItem" class="col-md-4">
            <label class="control-label">Pēc krāsas</label>
            <select onchange="this.form.submit();" name="colour" class="form-control" asp-items="((DropDownItemListViewModel) @ViewData["DropDown"])
                    .Colour
                    .GroupBy(t => t.Item)
                    .Select(g => g.First())
                    .Select(x => new SelectListItem {
                        Text = x.Item + @Html.Raw(" (") + x.Count + @Html.Raw(")"),
                        Value = x.Item,
                        Disabled = (x.Count == 0 ? true : false),
                        Selected = (x.Item == @ViewData["Colour"]?.ToString() ? true : false),
                    })
                    .AsEnumerable()">
                <option value="">
                    @Html.Raw("--Krāsa--")
                </option>
            </select>
        </div>
        <div id="dataListItem" class="col-md-4">
            <label class="control-label">Pēc patversmes</label>
            <select onchange="this.form.submit();" name="shelter" class="form-control" asp-items="((DropDownItemListViewModel) @ViewData["DropDown"])
                    .Shelter
                    .GroupBy(t => t.Item)
                    .Select(g => g.First())
                    .Select(x => new SelectListItem {
                        Text = x.Item + @Html.Raw(" (") + x.Count + @Html.Raw(")"),
                        Value = x.Item,
                        Disabled = (x.Count == 0 ? true : false),
                        Selected = (x.Item == @ViewData["Shelter"]?.ToString() ? true : false),
                    })
                    .AsEnumerable()">
                <option value="">
                    @Html.Raw("--Patversme--")
                </option>
            </select>
        </div>
        <div id="dataListItem" class="col-md-4">
            <label class="control-label">Pēc vārda</label>
            <input onchange="this.form.submit();" type="text" name="name" class="form-control" value="@ViewData["Name"]" />
            <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
        </div>
        <div id="dataListItem" class="col-md-4" style="padding: 0.4%">
            <input type="submit" value="Meklēt" class="btn btn-default" />|
            <a asp-action="Index" class="btn btn-default">Noņemt filtrus</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["NameSortParm"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   asp-route-species="@ViewData["Species"]"
                   asp-route-speciesType="@ViewData["SpeciesType"]"
                   asp-route-shelter="@ViewData["Shelter"]"
                   asp-route-colour="@ViewData["Colour"]"
                   asp-route-weight="@ViewData["Weight"]"
                   asp-route-name="@ViewData["Name"]"
                   asp-route-age="@ViewData["Age"]">
                    Vārds
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["AgeSortParm"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   asp-route-species="@ViewData["Species"]"
                   asp-route-speciesType="@ViewData["SpeciesType"]"
                   asp-route-shelter="@ViewData["Shelter"]"
                   asp-route-colour="@ViewData["Colour"]"
                   asp-route-weight="@ViewData["Weight"]"
                   asp-route-name="@ViewData["Name"]"
                   asp-route-age="@ViewData["Age"]">
                    Vecums
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["SpeciesSortParm"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   asp-route-species="@ViewData["Species"]"
                   asp-route-speciesType="@ViewData["SpeciesType"]"
                   asp-route-shelter="@ViewData["Shelter"]"
                   asp-route-colour="@ViewData["Colour"]"
                   asp-route-weight="@ViewData["Weight"]"
                   asp-route-name="@ViewData["Name"]"
                   asp-route-age="@ViewData["Age"]">
                    Suga
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["SpeciesSortParm"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   asp-route-species="@ViewData["Species"]"
                   asp-route-speciesType="@ViewData["SpeciesType"]"
                   asp-route-shelter="@ViewData["Shelter"]"
                   asp-route-colour="@ViewData["Colour"]"
                   asp-route-weight="@ViewData["Weight"]"
                   asp-route-name="@ViewData["Name"]"
                   asp-route-age="@ViewData["Age"]">
                    Šķirne
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["WeightSortParm"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   asp-route-species="@ViewData["Species"]"
                   asp-route-speciesType="@ViewData["SpeciesType"]"
                   asp-route-shelter="@ViewData["Shelter"]"
                   asp-route-colour="@ViewData["Colour"]"
                   asp-route-weight="@ViewData["Weight"]"
                   asp-route-name="@ViewData["Name"]"
                   asp-route-age="@ViewData["Age"]">
                    Svars
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["ShelterSortParm"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   asp-route-species="@ViewData["Species"]"
                   asp-route-speciesType="@ViewData["SpeciesType"]"
                   asp-route-shelter="@ViewData["Shelter"]"
                   asp-route-colour="@ViewData["Colour"]"
                   asp-route-weight="@ViewData["Weight"]"
                   asp-route-name="@ViewData["Name"]"
                   asp-route-age="@ViewData["Age"]">
                    Patversme
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["ColourSortParm"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   asp-route-species="@ViewData["Species"]"
                   asp-route-speciesType="@ViewData["SpeciesType"]"
                   asp-route-shelter="@ViewData["Shelter"]"
                   asp-route-colour="@ViewData["Colour"]"
                   asp-route-weight="@ViewData["Weight"]"
                   asp-route-name="@ViewData["Name"]"
                   asp-route-age="@ViewData["Age"]">
                    Krāsa
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="~/uploads/images/animals/@item.ImagePath" alt="@item.Name bilde" onerror="this.onerror = null;this.src = 'uploads/images/animals/defaultanimal.png'" asp-append-version="true"
                     class="rounded-circle"
                     height="75"
                     width="75"
                     style="
                            object-fit: cover;
                            box-shadow: 0px 0px 10px #888;
                            padding: 4px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeciesType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.ActionLink(item.ShelterName, "Details", "Shelters", new { id = item.ShelterId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @if (ViewContext.HttpContext.User.IsInRole("administrator") || ViewContext.HttpContext.User.IsInRole("worker"))
                {
                    @Html.ActionLink("Labot", "Edit", new { id = item.Id })
                    @Html.Raw(" | ")
                }

                @Html.ActionLink("Vairāk", "Details", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-pageSize="@ViewData["PageSize"]"
   asp-route-species="@ViewData["Species"]"
   asp-route-speciesType="@ViewData["SpeciesType"]"
   asp-route-shelter="@ViewData["Shelter"]"
   asp-route-colour="@ViewData["Colour"]"
   asp-route-weight="@ViewData["Weight"]"
   asp-route-name="@ViewData["Name"]"
   asp-route-age="@ViewData["Age"]"
   class="btn btn-default @prevDisabled">
    Iepriekšējā
</a>
@for (int i = 1; i < (int)ViewData["PageAmount"]; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@i"
       asp-route-pageSize="@ViewData["PageSize"]"
       asp-route-species="@ViewData["Species"]"
   asp-route-speciesType="@ViewData["SpeciesType"]"
       asp-route-shelter="@ViewData["Shelter"]"
       asp-route-colour="@ViewData["Colour"]"
       asp-route-weight="@ViewData["Weight"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-age="@ViewData["Age"]"
       class="btn btn-default">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-pageSize="@ViewData["PageSize"]"
   asp-route-species="@ViewData["Species"]"
   asp-route-speciesType="@ViewData["SpeciesType"]"
   asp-route-shelter="@ViewData["Shelter"]"
   asp-route-colour="@ViewData["Colour"]"
   asp-route-weight="@ViewData["Weight"]"
   asp-route-name="@ViewData["Name"]"
   asp-route-age="@ViewData["Age"]"
   class="btn btn-default @nextDisabled">
    Nākamā
</a>

<div style="float:right">
    Izvēlies daudzumu:
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-species="@ViewData["Species"]"
       asp-route-speciesType="@ViewData["SpeciesType"]"
       asp-route-shelter="@ViewData["Shelter"]"
       asp-route-colour="@ViewData["Colour"]"
       asp-route-weight="@ViewData["Weight"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-age="@ViewData["Age"]"
       asp-route-pageSize="3"
       class="btn btn-default">
        3
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-species="@ViewData["Species"]"
       asp-route-speciesType="@ViewData["SpeciesType"]"
       asp-route-shelter="@ViewData["Shelter"]"
       asp-route-colour="@ViewData["Colour"]"
       asp-route-weight="@ViewData["Weight"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-age="@ViewData["Age"]"
       asp-route-pageSize="5"
       class="btn btn-default">
        5
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-species="@ViewData["Species"]"
       asp-route-speciesType="@ViewData["SpeciesType"]"
       asp-route-shelter="@ViewData["Shelter"]"
       asp-route-colour="@ViewData["Colour"]"
       asp-route-weight="@ViewData["Weight"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-age="@ViewData["Age"]"
       asp-route-pageSize="10"
       class="btn btn-default">
        10
    </a>
</div>