@model IEnumerable<WebPatversme.Models.Animals>
@{
    ViewData["Title"] = "Dzīvnieki";
}

<div class="text-center">
    <h1 class="display-4">Dzīvnieki!</h1>
    <h2 class="display-3">*Filtri dzīvnieku izvēlei*</h2>
    <p>Saraksts ar Dzīvniekiem</p>
</div>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Animals" asp-action="Create">+ Pievienot dzīvnieku</a>
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Vecums</th>
        <th>Svars</th>
        <th>Dzimšanas datums</th>
        <th>Pievienošanas datums</th>
        <th>Apraksts</th>
        <th>Vārds</th>
        <th>Suga</th>
        <th>Krāsa</th>
        <th>ImagePath</th>
        <th>AnimalShelterID</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.AnimalID)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.FKAnimalSheltersID)
            </td>
        </tr>
    }
</table>