@model IEnumerable<WebDzivniekuPatversme.Models.ViewModels.AnimalsViewModel>

@{
    ViewData["Title"] = "Dzīvnieki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Dzīvnieki!</h1>
    <h2 class="display-3">*Filtri dzīvnieku izvēlei*</h2>
    <p>Saraksts ar Dzīvniekiem</p>
</div>

<p>
    <a asp-action="Create">+ Pievienot dzīvnieku</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Vārds
            </th>
            <th>
                Vecums
            </th>
            <th>
                Suga
            </th>
            <th>
                Svars
            </th>
            <th>
                Patversme
            </th>
            <th>
                Dzimšanas datums
            </th>
            <th>
                Pievienošanas datums
            </th>
            <th>
                Apraksts
            </th>
            <th>
                Krāsa
            </th>
            <th>
                ImagePath
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalShelterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @if (ViewContext.HttpContext.User.IsInRole("administrator") || ViewContext.HttpContext.User.IsInRole("worker"))
                {
                    @Html.ActionLink("Labot", "Edit", new { id = item.AnimalID })
                    @Html.Raw(" | ")
                    @Html.ActionLink("Dzēst", "Delete", new { id = item.AnimalID })
                    @Html.Raw(" | ")
                }

                @Html.ActionLink("Par", "Details", new { id = item.AnimalID })
            </td>
        </tr>
        }
    </tbody>
</table>