@model WebDzivniekuPatversme.Models.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Par Dzīvnieku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Par Dzīvnieku</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Labot", "Edit", new {id = Model.NewsID }) |
    <a asp-action="Index">Atpakaļ uz sarakstu</a>
</div>
