@model IEnumerable<WebPatversme.Models.News>
@{
    ViewData["Title"] = "Ziņas";
}

<div class="text-center">
    <h1 class="display-4">Ziņas!</h1>
    <h2 class="display-3">*Filtri Ziņu izvēlei*</h2>
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>DateCreated</th>
        <th>Text</th>
        <th>ImagePath</th>
        <th>UserID</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.NewsID)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.FKUsersID)
            </td>
        </tr>
    }
</table>