@model IEnumerable<WebPatversme.Models.News>

@{
    ViewData["Title"] = "Ziņas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Ziņas!</h1>
    <h2 class="display-3">*Filtri Ziņu izvēlei*</h2>
    <p>Saraksts ar Ziņām</p>
</div>

<p>
    <a asp-action="Create">+ Pievienot ziņas</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Izveidošanas datums
            </th>
            <th>
                Teksts
            </th>
            <th>
                ImagePath
            </th>
            <th>
                UserID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.NewsID)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.NewsID}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>