@model WebDzivniekuPatversme.Services.Other.PaginatedList<WebDzivniekuPatversme.Models.ViewModels.NewsViewModel>

@{
    ViewData["Title"] = "Ziņas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Ziņas!</h1>
    <p>Saraksts ar Ziņām</p>
</div>

<p>
    <a asp-action="Create">+ Pievienot ziņas</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Meklē pēc titula: <input type="text" name="filter" value="@ViewData["Filter"]" />
            <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
            <input type="submit" value="Meklēt" class="btn btn-default" /> |
            <a asp-action="Index">Atpakaļ uz pilnu listi</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-filter="@ViewData["Filter"]" asp-route-pageSize="@ViewData["PageSize"]">Tituls</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TextSortParm"]" asp-route-filter="@ViewData["Filter"]" asp-route-pageSize="@ViewData["PageSize"]">Teksts</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateAddedSortParm"]" asp-route-filter="@ViewData["Filter"]" asp-route-pageSize="@ViewData["PageSize"]">Izveidošanas datums</a>
            </th>
            <th>
                ImagePath
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayTextFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("administrator") || ViewContext.HttpContext.User.IsInRole("worker"))
                    {
                        @Html.ActionLink("Labot", "Edit", new { id = item.NewsID })
                        @Html.Raw(" | ")
                        @Html.ActionLink("Dzēst", "Delete", new { id = item.NewsID })
                        @Html.Raw(" | ")
                    }

                    @Html.ActionLink("Par", "Details", new { id = item.NewsID })
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-filter="@ViewData["Filter"]"
   asp-route-pageSize="@ViewData["PageSize"]"
   class="btn btn-default @prevDisabled">
    Iepriekšējā
</a>
@for (int i = 1; i < (int)ViewData["PageAmount"]; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@i"
       asp-route-filter="@ViewData["Filter"]"
       asp-route-pageSize="@ViewData["PageSize"]"
       class="btn btn-default">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-filter="@ViewData["Filter"]"
   asp-route-pageSize="@ViewData["PageSize"]"
   class="btn btn-default @nextDisabled">
    Nākamā
</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-filter="@ViewData["Filter"]"
   asp-route-pageSize="3"
   class="btn btn-default">
    3
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-filter="@ViewData["Filter"]"
   asp-route-pageSize="5"
   class="btn btn-default">
    5
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-filter="@ViewData["Filter"]"
   asp-route-pageSize="10"
   class="btn btn-default">
    10
</a>