@model WebDzivniekuPatversme.Services.Other.PaginatedList<WebDzivniekuPatversme.Models.ViewModels.NewsViewModel>

@{
    ViewData["Title"] = "Ziņas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Ziņas!</h1>
</div>

<p>
    <a asp-action="Create">+ Pievienot ziņas</a>
</p>

<form asp-action="Index" method="get" style="padding-left: 1%">
    <div class="row">
        <div id="dataListItem" class="col-md-4">
            <label class="control-label">Meklēt pēc titula</label>
            <input type="text" onchange="this.form.submit();" name="name" class="form-control" value="@ViewData["Name"]" />
            <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
        </div>
    </div>
    <div class="row">
        <div id="dataListItem" class="col-md-4" style="padding: 0.4%">
            <input type="submit" value="Meklēt" class="btn btn-default" />|
            <a asp-action="Index" class="btn btn-default">Noņemt filtrus</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-name="@ViewData["Name"]" asp-route-pageSize="@ViewData["PageSize"]">Tituls</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TextSortParm"]" asp-route-name="@ViewData["Name"]" asp-route-pageSize="@ViewData["PageSize"]">Teksts</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateAddedSortParm"]" asp-route-name="@ViewData["Name"]" asp-route-pageSize="@ViewData["PageSize"]">Izveidošanas datums</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src = "~/uploads/images/news/@item.ImagePath" alt = "@item.Title bilde" onerror="this.onerror = null;this.src = 'uploads/images/news/defaultnews.png'" asp-append-version = "true"
                        class = "rounded-circle" 
                        height = "75" 
                        width = "75" 
                        style = "
                            object-fit: cover;
                            box-shadow: 0px 0px 10px #888;
                            padding: 4px;"/>
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("administrator") || ViewContext.HttpContext.User.IsInRole("worker"))
                    {
                        @Html.ActionLink("Labot", "Edit", new { id = item.NewsID })
                        @Html.Raw(" | ")
                    }

                    @Html.ActionLink("Vairāk", "Details", new { id = item.NewsID })
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-name="@ViewData["Name"]"
   asp-route-pageSize="@ViewData["PageSize"]"
   class="btn btn-default @prevDisabled">
    Iepriekšējā
</a>
@for (int i = 1; i < (int)ViewData["PageAmount"]; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@i"
       asp-route-name="@ViewData["Name"]"
       asp-route-pageSize="@ViewData["PageSize"]"
       class="btn btn-default">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-name="@ViewData["Name"]"
   asp-route-pageSize="@ViewData["PageSize"]"
   class="btn btn-default @nextDisabled">
    Nākamā
</a>

<div style="float:right">
    Izvēlies daudzumu:
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-pageSize="3"
       class="btn btn-default">
        3
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-pageSize="5"
       class="btn btn-default">
        5
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-pageSize="10"
       class="btn btn-default">
        10
    </a>
</div>