@page
@model UserControlModel
@{
    ViewData["Title"] = "Lietotāju pārvalde";
    ViewData["ActivePage"] = ManageNavPages.UserControl;
}

@if (ViewContext.HttpContext.User.IsInRole("administrator"))
{
    <h4>@ViewData["Title"]</h4>

    <div style="padding-left: 1%">
        <table class="table table-striped table-bordered bootstrap-datatable" style="overflow:auto;">
            <thead>
                <tr>
                    <th>
                        Vārds
                    </th>
                    <th>
                        Uzvārds
                    </th>
                    <th>
                        E-pasts
                    </th>
                    <th>
                        Loma
                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach (var item in Model.Input)
                {
                    <tr>
                        <td>
                            @item.User.Name
                        </td>
                        <td>
                            @item.User.Surname
                        </td>
                        <td>
                            @item.User.Email
                        </td>
                        <td>
                            @item.Role
                        </td>
                        <td>
                            <a asp-page="./UserEdit" asp-route-userName="@item.User.UserName" class="btn btn-default">Vairāk</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>   
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}