@model IEnumerable<WebPatversme.Models.Shelters>

@{
    ViewData["Title"] = "Patversmes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Patversmes!</h1>
    <h2 class="display-3">*Filtri patversmes izvēlei*</h2>
    <p>Saraksts ar Patversmēm</p>
</div>

<p>
    <a asp-action="Create">+ Pievienot patversmi</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Dzīvnieku kapacitāte
            </th>
            <th>
                Vārds
            </th>
            <th>
                Adrese
            </th>
            <th>
                Telefona numurs
            </th>
            <th>
                ImagePath
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.AnimalShelterID)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.AnimalCapacity)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>