@model WebDzivniekuPatversme.Services.Other.PaginatedList<WebDzivniekuPatversme.Models.ViewModels.SheltersViewModel>

@{
    ViewData["Title"] = "Patversmes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Patversmes!</h1>
</div>

<p>
    <a asp-action="Create">+ Pievienot patversmi</a>
</p>

<form asp-action="Index" method="get" style="padding-left: 1%">
    <div class="row">
        <div id="dataListItem" class="col-md-4">
            <label class="control-label">Meklēt pēc nosaukuma</label>
            <input type="text" name="name" class="form-control" value="@ViewData["Name"]" />
            <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
        </div>
    </div>
    <div class="row">
        <div id="dataListItem" class="col-md-4" style="padding: 0.4%">
            <input type="submit" value="Meklēt" class="btn btn-default" />|
            <a asp-action="Index" class="btn btn-default">Noņemt filtrus</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-name="@ViewData["Name"]" asp-route-pageSize="@ViewData["PageSize"]">Nosaukums</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CapacitySortParm"]" asp-route-name="@ViewData["Name"]" asp-route-pageSize="@ViewData["PageSize"]">Dzīvnieku kapacitāte</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AddressSortParm"]" asp-route-name="@ViewData["Name"]" asp-route-pageSize="@ViewData["PageSize"]">Adrese</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PhoneNumberSortParm"]" asp-route-name="@ViewData["Name"]" asp-route-pageSize="@ViewData["PageSize"]">Telefona numurs</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/uploads/images/shelters/@item.ImagePath" alt="@item.Name bilde" onerror="this.onerror = null;this.src = 'uploads/images/shelters/defaultshelter.png'" height="60" width="60" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.AnimalCapacity)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("administrator") || ViewContext.HttpContext.User.IsInRole("worker"))
                    {
                        @Html.ActionLink("Labot", "Edit", new { id = item.AnimalShelterID })
                        @Html.Raw(" | ")
                        @Html.ActionLink("Dzēst", "Delete", new { id = item.AnimalShelterID })
                        @Html.Raw(" | ")
                    }

                    @Html.ActionLink("Par", "Details", new { id = item.AnimalShelterID })
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-name="@ViewData["Name"]"
   asp-route-pageSize="@ViewData["PageSize"]"
   class="btn btn-default @prevDisabled">
    Iepriekšējā
</a>
@for (int i = 1; i < (int)ViewData["PageAmount"]; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@i"
       asp-route-name="@ViewData["Name"]"
       asp-route-pageSize="@ViewData["PageSize"]"
       class="btn btn-default">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-name="@ViewData["Name"]"
   asp-route-pageSize="@ViewData["PageSize"]"
   class="btn btn-default @nextDisabled">
    Nākamā
</a>

<div style="float:right">
    Izvēlies daudzumu:
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-pageSize="3"
       class="btn btn-default">
        3
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-pageSize="5"
       class="btn btn-default">
        5
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-name="@ViewData["Name"]"
       asp-route-pageSize="10"
       class="btn btn-default">
        10
    </a>
</div>