@model IEnumerable<WebPatversme.Models.Shelters>
@{
    ViewData["Title"] = "Patversmes";
}

<div class="text-center">
    <h1 class="display-4">Patversmes!</h1>
    <h2 class="display-3">*Filtri patversmes izvēlei*</h2>
    <p>Saraksts ar Patversmēm</p>
</div>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Shelters" asp-action="Create">+ Pievienot dzīvnieku</a>
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Dzīvnieku kapacitāte</th>
        <th>Vārds</th>
        <th>Adrese</th>
        <th>Telefona numurs</th>
        <th>ImagePath</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.AnimalShelterID)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.AnimalCapacity)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.ImagePath)
            </td>
        </tr>
    }
</table>