@model IEnumerable<WebDzivniekuPatversme.Models.ViewModels.SheltersViewModel>

@{
    ViewData["Title"] = "Patversmes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Patversmes!</h1>
    <h2 class="display-3">*Filtri patversmes izvēlei*</h2>
    <p>Saraksts ar Patversmēm</p>
</div>

<p>
    <a asp-action="Create">+ Pievienot patversmi</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Vārds
            </th>
            <th>
                Dzīvnieku kapacitāte
            </th>
            <th>
                Adrese
            </th>
            <th>
                Telefona numurs
            </th>
            <th>
                ImagePath
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.AnimalCapacity)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.ImagePath)
            </td>
            <td>
                @if (ViewContext.HttpContext.User.IsInRole("administrator") || ViewContext.HttpContext.User.IsInRole("worker"))
                {
                @Html.ActionLink("Labot", "Edit", new { id = item.AnimalShelterID })
                @Html.Raw(" | ")
                @Html.ActionLink("Dzēst", "Delete", new { id = item.AnimalShelterID })
                @Html.Raw(" | ")
                }

                @Html.ActionLink("Par", "Details", new { id = item.AnimalShelterID })
            </td>
        </tr>
        }
    </tbody>
</table>